<div class="zombie-search">
  <!-- Search input -->

  <div class="custom-input-container">
    <input type="text" [formControl]="searchTextControl" placeholder="Buscar por nombre" class="input-field">
    <button *ngIf="showXBtn" class="button" (click)="clearInput()">X</button>
  </div>




  <!-- Mobile: Show advanced options button -->
  <button class="show-filters-mobile" (click)="toggleFiltersMobile()">Opciones avanzadas</button>

  <!-- Desktop: Filters -->
  <div class="filters" *ngIf="!showFiltersMobile">
    <h3>Filtros</h3>
    <div class="filter">
      <input type="checkbox" id="affiliation" name="affiliation">
      <label for="affiliation">Afiliación</label>
      <!-- Other filters... -->
    </div>
    <!-- More filters... -->

    <!-- Button to trigger search -->
    <button class="search-button">Buscar</button>
  </div>

  <!-- Mobile: Collapsible advanced options -->
  <div class="filters-mobile" *ngIf="showFiltersMobile">
    <h3>Filtros</h3>
    <div class="filter">
      <input type="checkbox" id="affiliation-mobile" name="affiliation-mobile">
      <label for="affiliation-mobile">Afiliación</label>
      <!-- Other filters... -->
    </div>
    <!-- More filters... -->

    <!-- Button to trigger search -->
    <button class="search-button">Buscar</button>
  </div>

  <!-- Display search results -->

</div>

<div class="search-results">
  <ul>
    <li *ngFor="let player of filteredZombiePlayers">
      {{ player.name }}
    </li>
  </ul>
</div>

